/* style for ALL */
* {
    margin: 0px;
    padding: 0px;
}

/*cover page - start */
/*styling for cover slideshow*/

.slideshow,
.slideshow::after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}

.slideshow li {
    list-style-type: none;
}

.slideshow::after {
    content: '';
    background: transparent url(../Images/pattern.png) repeat top left;
    /*increase image intensity*/
}

.slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 30s linear infinite 0s;
    -moz-animation: imageAnimation 30s linear infinite 0s;
    -o-animation: imageAnimation 30s linear infinite 0s;
    -ms-animation: imageAnimation 30s linear infinite 0s;
    animation: imageAnimation 30s linear infinite 0s;
}

.slideshow li div {
    z-index: 1000;
    position: absolute;
    top: 300px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: whitesmoke;
    animation: titleAnimation 30s linear infinite 0s;
    -webkit-animation: titleAnimation 30s linear infinite 0s;
    -moz-animation: titleAnimation 30s linear infinite 0s;
    -o-animation: titleAnimation 30s linear infinite 0s;
    -ms-animation: titleAnimation 30s linear infinite 0s;
    animation: titleAnimation 30s linear infinite 0s;
}

.slideshow li div h4 {
    font-family: "Roboto", sans-serif;
    font-size: 100px;
    padding: 0;
    line-height: 120px;
}


.slideshow li:nth-child(1) span {
    background-image: url("../Images/oneteam.jpeg")
}


.slideshow li:nth-child(2) span {
    background-image: url(../Images/respectall.jpeg);
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}

.slideshow li:nth-child(3) span {
    background-image: url(../Images/everyplayer.jpeg);
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}

.slideshow li:nth-child(4) span {
    background-image: url(../Images/achieve.jpeg);
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s;
}

.slideshow li:nth-child(5) span {
    background-image: url(../Images/liveit_loveit.jpeg);
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s;
}

.slideshow li:nth-child(2) div {
    animation-delay: 6s;
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
}

.slideshow li:nth-child(3) div {
    animation-delay: 12s;
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
}

.slideshow li:nth-child(4) div {
    animation-delay: 18s;
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
}

.slideshow li:nth-child(5) div {
    animation-delay: 24s;
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }

    8% {
        opacity: 1;
        animation-timing-function: ease-out;
    }

    17% {
        opacity: 1
    }

    25% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

@keyframes titleAnimation {
    0% {
        opacity: 0
    }

    8% {
        opacity: 1
    }

    17% {
        opacity: 1
    }

    19% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

/* styling for coverpage - clubname and logo */

.clubname-cover h5 {
    position: absolute;
    font-family: sans-serif;
    color: greenyellow;
    font-size: 30px;
    width: 100%;
    text-align: center;
    top: 25px
}

.logo-cover {
    height: 80px;
}

.logo-cover img {
    position: relative;
    width: 60px;
    height: 60px;
    opacity: 0.70;
    left: 345px;
    top: 10px;
}

/*styling for coverpage nav bar */

.navbar {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0px;
    right: 15px;

}

.navbar ul {
    list-style-type: none;
    margin: 0px;
    font-family: "Roboto";
    font-size: 15px;

}

.navbar ul li {
    display: inline;
    padding: 0px;
    line-height: 70px;
}

.navbar .button {
    color: black;
    text-decoration: none;
    background-color: white;
    opacity: 0.9;
    padding: 20px 20px;

}

.navbar .button:hover {
    background-color: black;
    color: white;
}

.navbar .active {
    color: #abff00;
}

/*END of coverpage */

/* base for all mainpages inc top image and nav*/

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

/*prevent overflow of horizontal scroll*/


body {
    background: url(../Images/first_aid_kit.png)
}

/*set background pattern to all pages*/

.nav {
    position: fixed;
    background: #285639;
    opacity: 0.8;
    text-align: center;
    top: 0px;
    height: 50px;
    width: 100%;
}

.nav ul {
    list-style-type: none;
    margin: 0px;
}

.nav ul li {
    display: inline;
    font-family: "Roboto";
    font-size: 20px;
}

.nav .button {
    color: white;
    line-height: 50px;
    text-decoration: none;
    padding: 15px 20px;
}

.nav .button:hover {
    background-color: white;
    color: #222;
}

.active {
    background: transparent;
    color: gold;
    padding: 15px 20px;
}

.header-image {
    background-image: url("../Images/grasspitch.jpeg");
    background-size: 100%;
    height: 330px;
    width: 100%;
}

.logo {
    position: absolute;
    width: 100%;
    top: 135px;
    left: 100px;
    z-index: 5;
}

.logo img {
    width: 70px;
    height: 70px;
    opacity: 0.70;
}


/* make ball bounce

    animation: bounce 0.5s ease-in;
    animation-direction: alternate;
    animation-iteration-count: infinite;
@keyframes bounce {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(0, 5px, 0);
    }
}

@-webkit-keyframes bounce {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        -webkit-transform: translate3d(0, 200px, 0);
        transform: translate3d(0, 5px, 0);
    }
}
*/

/*make ball roll    
-webkit-animation: spin 1000ms linear infinite, moveLeftToRight 5s linear infinite;
    -moz-animation: spin 1000ms linear infinite, moveLeftToRight 5s linear infinite;
    -ms-animation: spin 1000ms linear infinite, moveLeftToRight 5s linear infinite;
    animation: spin 1000ms linear infinite, moveLeftToRight 5s linear infinite;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    position: absolute;
    left: 10px;
*/
/* Spinning ball using key frames 
@-ms-keyframes spin {
    from {
        -ms-transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}
*/
/* Move ball from left to right 
@-moz-keyframes moveLeftToRight {
    0% {
        left: -100px;
    }

    100% {
        left: 100%;
    }
}

@-ms-keyframes moveLeftToRight {
    0% {
        left: -100px;
    }

    100% {
        left: 100%;
    }
}

@keyframes moveLeftToRight {
    0% {
        left: -100px;
    }

    100% {
        left: 100%;
    }
}

@-webkit-keyframes moveLeftToRight {
    0% {
        left: -100px;
    }

    100% {
        left: 100%;
    }
}
*/
.clubname h5 {
    position: absolute;
    font-family: Helvetica;
    color: greenyellow;
    font-size: 60px;
    width: 100%;
    text-align: center;
    top: 140px;
}

/* make nav bar appear when scrolling*/

/* style for HOMEPAGE content sections */

.section-home {
    width: 80%;
    font-family: Helvetica;
    color: #222;
    line-height: 1.4;
    padding: 20px 30px;
    margin: 20px auto;
}

.home-title {
    padding-bottom: 10px;
}

/*style for ABOUT page content */

.section-about {
    line-height: 1.4;
    font-family: Helvetica;
    color: #524b4b;
    padding: 20px 30px;
    margin: 20px auto;
    width: 80%;
}

.about-title {
    text-align: left;
    margin: 0px;
}

/* style for RULE page content*/

.section-rule {
    line-height: 1.4;
    font-family: Helvetica;
    color: #524b4b;
    text-align: left;
    padding: 20px 30px;
    margin: 20px auto;
    width: 80%;
}


ol.alphalist {
    list-style-type: lower-alpha;
    padding: 0 20px;
}

ul.sqbulletlist {
    list-style-type: square;
    padding: 0 20px;
}

.rule-content ol {
    padding: 0 20px;
}

.rule-content ol li {
    padding-left: 10px;
    padding-bottom: 10px;
}

.rule-content ul li {
    padding-left: 10px;
}

.fifa-list {
    font-weight: bold;
    padding: 20px;
}

.unbold {
    font-weight: normal;
}

.space-list {
    padding-bottom: 10px;
}

hr {
    border: 5px solid gray;
    opacity: 0.5;
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* styling for game info page*/

.section-gameinfo {
    line-height: 1.4;
    font-family: Helvetica;
    color: #524b4b;
    text-align: left;
    padding: 20px 30px;
    margin: 20px auto;
    width: 80%;
}

/* styles for sep and oct table */
table.sep-table,
table.oct-table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}


table.sep-table th,
table.oct-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: dimgray;
    color: white;
    border: 1px solid black;
}

table.sep-table td,
table.oct-table td {
    margin: 0px;
    padding: 8px;
    border: 1px solid black;
}

.sep-table td,
.sep-table th,
.oct-table td,
.oct-table th {
    text-align: center;
}



/* layout for google maps in game info page */

.map-section h4 {
    text-align: center
}

.map-section {
    font-family: Helvetica;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.all-locations {
    display: flex;
    justify-content: center;
}

.location {
    display: flex;
}


.address-map {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px
}

iframe {
    align-self: center;
}

.address-map > h4 {
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: center
}

.address-map > p {
    font-size: .8em;
    margin-bottom: 10px;
    margin-top: 0px;
    text-align: center
}


/* styles for non-table sections */

.email {
    float: right;
}




/*
.sep-table th:nth-child(1),
.oct-table th:nth-child(1) {
    width: ;
}
*/

/*
.sep-table td + td,
.sep-table th + th,
.oct-table td + td,
.oct-table th + th {
    text-align: left;
}
*/


/* styles for location table---REMOVED! 

table.location-table {
    width: 100%;
    table-layout: fixed;
    margin-left: 90px;
}

table.location-table,
td,
th {
    border: 0px;
    padding: 0px;
}

.location-table th:nth-child(1) {
    width: 40%;
}
*/


/* style contact page */

.section-contact {
    line-height: 1.4;
    font-family: Helvetica;
    color: #524b4b;
    text-align: left;
    padding: 20px 30px;
    margin: 20px auto;
    width: 80%;
}

.bold {
    font-weight: bold;
}

content-about,
h4 {
    margin-top: 0px;
    padding-top: 20px;
}



/*styling for registration form*/



.section-registration {
    line-height: 1.4;
    font-family: Helvetica;
    color: #524b4b;
    text-align: left;
    padding: 20px 30px;
    margin: 20px auto;
    width: 80%;
}

/* layout for form-group -name, address,city, parent, contact, grade uniform */
.form-group {
    display: flex;
    padding: 12px 0px;
    flex-direction: row;
    width: 100%;
}

.form-group > label {
    padding: 5px 0px;
    width: 150px;
}

.form-group > input {
    flex: 1 1 0;
    border: none;
    padding: 5px 5px;
}

/* align for text on right side label*/
label[for=lastname],
label[for=zipcode],
label[for=email] {
    padding-left: 40px;
    padding-right: 0px;
}

/* layout for radio/checkbox buttons */
.group-choose {
    text-align: left;
    padding: 5px 0px;
}

.group-choose input {
    margin-right: 10px;
}

.group-choose label {
    padding: 5px 5px;
    width: 50%;
}



/* layout for form-group-2 - dob and gender and declare */
.form-group-2 {
    display: flex;
    padding: 12px 0px;
    flex-direction: row;
}

.form-group-2 > label {
    padding: 5px 0px;
    width: 150px;
}

.form-group-2 > input {
    border: none;
    padding: 5px 5px;
}

.form-group-2 [for="sign"] {
    width: 25%;
}

.form-group-2 [id="sign"] {
    width: 45%;
}

.form-group-2 [for="signdate"] {
    text-align: center;
    width: 10%;
}

.form-group-2 [id="signdate"] {
    width: 20%;
}

.form-group-2 [for="gender"] {
    width: 260px;
}


/* layout for form-group-3 for school choice*/
.form-group-3 {
    display: flex;
    padding: 12px 0px;
    flex-direction: row;
    width: 100%
}

.form-group-3 > label {
    padding: 5px 0px;
    font-weight: bold;
    width: 350px;
    align-self: center
}

.container {
    display: flex;
    width: 60%;
    justify-content: space-evenly;

}

.schoolgroup {
    display: flex;
    flex-direction: column
}



/* layout for position choice */

.form-group-4 {
    display: flex;
    padding: 12px 0;
    flex-direction: column;
}

.form-group-4 > label {
    padding: 5px 0px;
    font-weight: bold;
}

/* layout for uniform */

.form-group > span {
    width: 30%;
}

/* layout for size */

.form-group-5 {
    display: flex;
    padding: 12px 0px;
    height: 180px;
}

.form-group-5-inner {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.form-group-5-inner > label {
    padding: 5px 0px;
    font-weight: bold;
    text-align: left;
}

#jersey_size,
#short_size {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;

}

/* declare */

.declare p {
    text-align: left;
}

.declare span {
    font-weight: bold;
}

/* submit layout */
.submit {
    text-align: center;
}

.submit-button {
    text-align: center;
    background-color: dimgray;
    border: none;
    padding: 8px 16px;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    color: white;
}
